.footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 35px 0 30px;
}

.footer__content {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "logo"
    "navigation"
    "copyright";
}

.footer__logo {
  grid-area: logo;
}

.footer__navigation {
  grid-area: navigation;
  font-size: 16px;
  line-height: 22px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.footer__copyright {
  grid-area: copyright;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 320px) {}